content.home
  .home__wrapper
    section.hero
      .hero__content
        .hero__content__wrapper
          h1.hero__content__wrapper__title We grow your eCommerce brand like it’s our own
          p.hero__content__wrapper__text Navigating and growing on Amazon shouldn’t have to be difficult. As an eCommerce accelerator, we act as an extension of your team to help you scale your Amazon business. We only win if you do.
        .hero__content__button.button--secondary Partner With Us

    section.metrics
      .metrics__insight
        h2.metrics__insight__number 1%
        p.metrics__insight__text Top Amazon Seller
      .metrics__insight
        h2.metrics__insight__number 99%
        p.metrics__insight__text Partner Retention
      .metrics__insight
        h2.metrics__insight__number 405%
        p.metrics__insight__text AVG Client YoY Growth

    section.brand
      h4.brand__message We help you navigate the ecommerce landscape so you can focus on your core competency.
      p.brand__product With our diverse range of services, experienced team, and commitment to your growth, we are confident in our ability to propel your brand to thrive and remain profitable in this competitive market.

    section.carousel
      .carousel__text-container
        .carousel__text-container__content
          h3.carousel__text-container__content__title Sell us your inventory. We’ll handle the rest.
          p.carousel__text-container__content__text Sitting on excess stock will become a thing of the past. Based on our inventory forecasting, we’ll buy your products and aim for a realistic market share to get units moving.
          .carousel__text-container__content__button.button--primary Partner With Us
        .carousel__text-container__content
          h3.carousel__text-container__content__title We convey your brand story and narrative
          p.carousel__text-container__content__text We create new product listings based on keyword research and A+ content to help craft your brand story of who you are and what you stand for. Our product listings and content are deeply aligned with your brand vision to ensure you remain competitive at the forefront of the market.
          .carousel__text-container__content__button.button--primary Partner With Us
        .carousel__text-container__content
          h3.carousel__text-container__content__title We make sure you reach your target audience
          p.carousel__text-container__content__text Through Sponsored Brand Targeting, our strategy spans across multiple channels to get your brand in front of the right audience.
          .carousel__text-container__content__button.button--primary Partner With Us
        .carousel__text-container__content
          h3.carousel__text-container__content__title We accelerate your growth using data and AI
          p.carousel__text-container__content__text We leverage data, machine learning, and technology to drive you sustainable business growth. We identify trends, patterns, and valuable insights across various data streams so that you can be confident in every decision you make.
          .carousel__text-container__content__button.button--primary Partner With Us
      .carousel__image-container
        .carousel__image-container__swiper
          ul.carousel__image-container__swiper__pagination
            li.carousel__image-container__swiper__pagination__bullet
            li.carousel__image-container__swiper__pagination__bullet
            li.carousel__image-container__swiper__pagination__bullet
            li.carousel__image-container__swiper__pagination__bullet
          .carousel__image-container__swiper__images
            figure.carousel__image-container__swiper__images__media
              img.carousel__image-container__swiper__images__media__image
            figure.carousel__image-container__swiper__images__media
              img.carousel__image-container__swiper__images__media__image
            figure.carousel__image-container__swiper__images__media
              img.carousel__image-container__swiper__images__media__image
            figure.carousel__image-container__swiper__images__media
              img.carousel__image-container__swiper__images__media__image

    section.services
      .services__content
        h2.services__content__title Highly specialized team flexible to your unique needs
        .services__content__card
          svg.services__content__card__icon
          .services__content__card__content
            h6.services__content__card__content__title Ecommerce Marketing
            ul.services__content__card__content__list
              li.services__content__card__content__list__item
                svg.services__content__card__content__list__item__icon
                p.services__content__card__content__list__item__text Advertising Management
              li.services__content__card__content__list__item
                svg.services__content__card__content__list__item__icon
                p.services__content__card__content__list__item__text A+ Content Design
              li.services__content__card__content__list__item
                svg.services__content__card__content__list__item__icon
                p.services__content__card__content__list__item__text Brand Store Development
              li.services__content__card__content__list__item
                svg.services__content__card__content__list__item__icon
                p.services__content__card__content__list__item__text SEO & Rank Optimization
        .services__content__card
          svg.services__content__card__icon
          .services__content__card__content
            h6.services__content__card__content__title Inventory Management
            ul.services__content__card__content__list
              li.services__content__card__content__list__item
                svg.services__content__card__content__list__item__icon
                p.services__content__card__content__list__item__text Nationwide Fulfillment
              li.services__content__card__content__list__item
                svg.services__content__card__content__list__item__icon
                p.services__content__card__content__list__item__text Inventory Forecasting
              li.services__content__card__content__list__item
                svg.services__content__card__content__list__item__icon
                p.services__content__card__content__list__item__text In-stock Assurance
              li.services__content__card__content__list__item
                svg.services__content__card__content__list__item__icon
                p.services__content__card__content__list__item__text Return Management
        .services__content__card
          svg.services__content__card__icon
          .services__content__card__content
            h6.services__content__card__content__title Brand Protection
            ul.services__content__card__content__list
              li.services__content__card__content__list__item
                svg.services__content__card__content__list__item__icon
                p.services__content__card__content__list__item__text 24/7 Customer Service
              li.services__content__card__content__list__item
                svg.services__content__card__content__list__item__icon
                p.services__content__card__content__list__item__text Unauthorized Seller Removal
              li.services__content__card__content__list__item
                svg.services__content__card__content__list__item__icon
                p.services__content__card__content__list__item__text Review Management
              li.services__content__card__content__list__item
                svg.services__content__card__content__list__item__icon
                p.services__content__card__content__list__item__text Case Resolution
      .services__button.button--primary View Services

    section.highlight-business
      figure.highlight-business__media
        img.highlight-business__media__image
      .highlight-business__right
        .highlight-business__right__content
          .highlight-business__right__content__upper
            p.highlight-business__right__content__upper__caption FOCUS ON YOUR BUSINESS
            h3.highlight-business__right__content__upper__title Harness Amazon’s reach without the headache
          p.highlight-business__right__content__text We take care of the marketplace so you can spend more time on your core competency.
        .highlight-business__right__button.button--primary Partner With Us

    section.highlight-brand
      .highlight-brand__left
        .highlight-brand__left__content
          .highlight-brand__left__content__upper
            p.highlight-brand__left__content__upper__caption BRAND PROTECTION
            h3.highlight-brand__left__content__upper__title Keep full brand control while we do the heavy lifting
          .highlight-brand__left__content__lower
            .highlight-brand__left__content__lower__dropdown
              .highlight-brand__left__content__lower__dropdown__head
                p.highlight-brand__left__content__lower__dropdown__head__text Approve all changes
                svg.highlight-brand__left__content__lower__dropdown__head__icon
              .highlight-brand__left__content__lower__dropdown__content We include you for input and feedback on copy, storefront, etc as part of everyday decision making.
            .highlight-brand__left__content__lower__dropdown
              .highlight-brand__left__content__lower__dropdown__head
                p.highlight-brand__left__content__lower__dropdown__head__text Full transparency
                svg.highlight-brand__left__content__lower__dropdown__head__icon
              .highlight-brand__left__content__lower__dropdown__content We include you for input and feedback on copy, storefront, etc as part of everyday decision making.
            .highlight-brand__left__content__lower__dropdown
              .highlight-brand__left__content__lower__dropdown__head
                p.highlight-brand__left__content__lower__dropdown__head__text Reduce unauthorized sellers
                svg.highlight-brand__left__content__lower__dropdown__head__icon
              .highlight-brand__left__content__lower__dropdown__content We include you for input and feedback on copy, storefront, etc as part of everyday decision making.
        .highlight-brand__left__button.button--primary Partner With Us
      figure.highlight-brand__media
        img.highlight-brand__media__image

    section.blog
      .blog__content
        .blog__content__head
          h2.blog__content__title Stay up to-date
          p.blog__content__text Discover the latest insights, tips, and advice in the industry.
        .blog__content__card
          figure.blog__content__card__media
            img.blog__content__card__media__image
          .blog__content__card__content
            p.blog__content__card__content__date Date
            p.blog__content__card__content__text Inventory Management: Two Key Indicators to Improve Warehouse Task
        .blog__content__card
          figure.blog__content__card__media
            img.blog__content__card__media__image
          .blog__content__card__content
            p.blog__content__card__content__date Date
            p.blog__content__card__content__text Ominichannel and Supply Chain Work Together for Competitive Advantage
        .blog__content__card
          figure.blog__content__card__media
            img.blog__content__card__media__image
          .blog__content__card__content
            p.blog__content__card__content__date Date
            p.blog__content__card__content__text The parts of Customer Service that Should Never Be Automated
      .blog__button.button--primary View All

    section.team
      .team__content
        .team__content__upper
          h3.team__content__upper__title Team of experts always by your side
          p.team__content__upper__text Get to know the backbone of our company. Meet our passionate and dedicated team who are committed to driving unparalleled success to your business.
        .team__content__button.button--secondary Meet Our Team
      .team__gallery
        .team__gallery__row
          figure.team__gallery__row__media
            img.team__gallery__row__media__image
          figure.team__gallery__row__media
            img.team__gallery__row__media__image
          figure.team__gallery__row__media
            img.team__gallery__row__media__image
          figure.team__gallery__row__media
            img.team__gallery__row__media__image
        .team__gallery__row
          figure.team__gallery__row__media
            img.team__gallery__row__media__image
          figure.team__gallery__row__media
            img.team__gallery__row__media__image
          figure.team__gallery__row__media
            img.team__gallery__row__media__image
          figure.team__gallery__row__media
            img.team__gallery__row__media__image
        .team__gallery__row
          figure.team__gallery__row__media
            img.team__gallery__row__media__image
          figure.team__gallery__row__media
            img.team__gallery__row__media__image
          figure.team__gallery__row__media
            img.team__gallery__row__media__image
          figure.team__gallery__row__media
            img.team__gallery__row__media__image
