footer.footer
  .footer__icons
    img.footer__icons__logo(src="#", alt="company logo")
    .footer__icons__socials
      svg.footer__icons__socials__instagram
      svg.footer__icons__socials__facebook
      svg.footer__icons__socials__linkedin
  .footer__company
    p.footer__company__name The Lion Group
    p.footer__company__services Services
    p.footer__company__careers Careers
  .footer__other
    p.footer__other__title Other
    p.footer__other__contact Contact Us
