meta(charset='UTF-8')
meta(name="viewport" content="width=device-width, initial-scale=1.0")

base(href="/")

title='The Lion Group - The Ultimate eCommerce & Retail Partner'
meta(name="description", content="Navigating and growing on Amazon shouldn’t have to be difficult. As an eCommerce accelerator, we act as an extension of your team to help you scale your Amazon business.")

link(rel="canonical", href="https://www.theliongroup.net/")
link(rel="apple-touch-icon", sizes='180x180' href="/apple-touch-icon.png")
link(rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png')
link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#ff3a00")

meta(name="msapplication-TileColor" content="#f4d8cc")
meta(name="theme-color" content="#f4d8cc")

meta(property='og:locale' content='en_US')
meta(property="og:type" content="website")
meta(property="og:title" content="The Lion Group - The Ultimate eCommerce & Retail Partner")
meta(property="og:description" content="Navigating and growing on Amazon shouldn’t have to be difficult. As an eCommerce accelerator, we act as an extension of your team to help you scale your Amazon business.")
meta(property='og:url' content='https://www.theliongroup.net/')
meta(property='og:site_name' content='The Lion Group | Top E-Commerce Accelerator')
meta(property="og:image" content='https://www.theliongroup.net/wp-content/uploads/2023/09/Frame-1113.jpg')

meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:title" content="The Lion Group - The Ultimate eCommerce & Retail Partner")
meta(name="twitter:description" content="Navigating and growing on Amazon shouldn’t have to be difficult. As an eCommerce accelerator, we act as an extension of your team to help you scale your Amazon business.")
meta(name="twitter:image" content='https://www.theliongroup.net/wp-content/uploads/2023/09/Frame-1113.jpg')
