nav.navigation(role="navigation")
  .navigation__wrapper
    a.navigation__logo__link(href="/")
      img.navigation__logo(src="/the-lion-group-logo.png", alt="The lion group logo")

    ul.navigation__list
      li.navigation__list__item.service-link
        a.navigation__list__item__link(href='#')
          span Services

      li.navigation__list__item.about-link
        a.navigation__list__item__link(href='#')
          span About Us

      li.navigation__list__item.case-link
        a.navigation__list__item__link(href='#')
          span Case Studies

      li.navigation__list__item.resources-link
        a.navigation__list__item__link(href='#')
          span Resources

    .navigation__cta.button--primary
      span Partner With Us

    svg.navigation__menu__icon(xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none")
      path(fill-rule="evenodd" clip-rule="evenodd" d="M4.375 5.5H20.625C21.1083 5.5 21.5 5.76117 21.5 6.08333V7.91667C21.5 8.23883 21.1083 8.5 20.625 8.5H4.375C3.8917 8.5 3.5 8.23883 3.5 7.91667V6.08333C3.5 5.76117 3.8917 5.5 4.375 5.5ZM20.625 10.75H4.375C3.8917 10.75 3.5 11.0112 3.5 11.3333V13.1667C3.5 13.4888 3.8917 13.75 4.375 13.75H20.625C21.1083 13.75 21.5 13.4888 21.5 13.1667V11.3333C21.5 11.0112 21.1083 10.75 20.625 10.75ZM20.625 16H4.375C3.8917 16 3.5 16.2612 3.5 16.5833V18.4167C3.5 18.7388 3.8917 19 4.375 19H20.625C21.1083 19 21.5 18.7388 21.5 18.4167V16.5833C21.5 16.2612 21.1083 16 20.625 16Z" fill="black")

  .navigation__dropdwon
    .navigation__dropdwon__wrapper
      ul.navigation__dropdown__services
        li.navigation__dropdown__services__item
          a.navigation__dropdown__services__item__link(href='#') Alteryx
        li.navigation__dropdown__services__item
          a.navigation__dropdown__services__item__link(href='#') Cloud Data Warehousing
        li.navigation__dropdown__services__item
          a.navigation__dropdown__services__item__link(href='#') Project Management
        li.navigation__dropdown__services__item
          a.navigation__dropdown__services__item__link(href='#') Data Integration
        li.navigation__dropdown__services__item
          a.navigation__dropdown__services__item__link(href='#') Robotic Process Automation
      .navigation__dropdown__banner
        .navigation__dropdown__banner__content
          .navigation__dropdown__banner__content__upper
            h6.navigation__dropdown__banner__content__upper__title More to great savings!
            p.navigation__dropdown__banner__content__upper__text Sign up and save. have money left to decorate.
          .navigation__dropdown__banner__content__button Get it now
        figure.navigation__dropdown__banner__media
          img.navigation__dropdown__banner__media__image(src='/img/banner-1.png' alt='Person holding credit card')
