nav.navigation(role="navigation")
  img.navigation__logo

  ul.navigation__list
    li.navigation__list__item
      a.navigation__list__item__link
        span Services

    li.navigation__list__item
      a.navigation__list__item__link
        span About Us

    li.navigation__list__item
      a.navigation__list__item__link
        span Case Studies

    li.navigation__list__item
      a.navigation__list__item__link
        span Resources

  .navigation__cta
    span Partner With Us
