// PRIMITIVES

$color-arapawa: #170864;
$color-arapawa-100: #F3F0FD;
$color-gray-1000: #000000;
$color-gray-700: #363328;
$color-gray-100: #F2F2F2;
$color-gray-0: #FFFFFF;

// TOKENS

$color-surface-primary: $color-gray-0;
$color-surface-secondary: $color-arapawa-100;
$color-surface-tertiary: $color-gray-100;
$color-surface-accent: $color-arapawa;
$color-surface-invert: $color-gray-1000;

$color-text-primary: $color-gray-700;
$color-text-secondary: $color-gray-1000;
$color-text-accent: $color-arapawa;
$color-text-invert: $color-gray-0;

// FONTS

$font-lora: 'Lora';
$font-open-sans: 'Open Sans';

// EASING

$ease-out-expo: cubic-bezier(0.19, 1, 0.4, 1);

// Z-INDEXES

$z-indexes: (
  'preloader',
  'navigation',
  'dropdown',
  'content'
);
