.highlight-brand {
  @extend %center;

  padding: 4rem 12rem 8rem 12rem;
  gap: 9.2rem;
}

.highlight-brand__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.2rem;
}

.highlight-brand__left__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.4rem;
}

.highlight-brand__left__content__upper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
  align-self: stretch;
}

.highlight-brand__left__content__upper__caption {
  @extend %paragraph-s-b;

  height: 2.1rem;
  align-self: stretch;
  color: $color-text-accent;
}

.highlight-brand__left__content__upper__title {
  @extend %heading-3;

  align-self: stretch;
  color: $color-text-secondary;
}

.highlight-brand__left__content__lower {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;
}

.highlight-brand__left__content__lower__dropdown {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
}

.highlight-brand__left__content__lower__dropdown__head {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 1.6rem;
}

.highlight-brand__left__content__lower__dropdown__head__text {
  @extend %paragraph-l-r;

  flex: 1 0 0;
  color: $color-text-secondary;
  font-weight: 600;
}

.highlight-brand__left__content__lower__dropdown__head__icon {
  display: flex;
  width: 2.7rem;
  height: 2.7rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.highlight-brand__left__content__lower__dropdown__content {
  @extend %paragraph-r-r;

  align-self: stretch;
}

.highlight-brand__left__button {
  @extend %button-primary-l
}

.highlight-brand__media {
  width: 57.4rem;
  height: 62.6rem;
}

.highlight-brand__media__image {
  object-fit: cover;
}

